* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: arial, sans-serif;
}

header .logo img {
    height: 50px;
}

header .logo{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Maria-bonita{
    background-color: rgb(139, 221, 180);
    display: flex;
    justify-content:center ;
    
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
}

.most-sold {
    text-align: center;
    padding: 2em;
}

.most-sold h2 {
    font-size: 2em;
    color: #4a4a4a;
}

.most-sold p {
    color: #7a7a7a;
}

.products {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.product {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1em;
    padding: 1em;
    text-align: center;
    width: 200px;
    height: 365px;
    position: relative;
}

.product img {
    max-width: 100%;
    border-radius: 10px;
}

.product .offer {
    position: absolute;
    top: 10px;
    left: 10px;
    
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    font-size: 0.8em;
    animation-name: girar;
    animation-duration: 3s;
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
}

@keyframes girar {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
  }
  

.product .category {
    color: #9a9a9a;
    margin: 0.5em 0;
}

.product h3 {
    font-size: 1.2em;
    color: #4a4a4a;
}

.product .price {
    font-size: 1em;
    color: #4a4a4a;
}



.WhatsApp-icon{
    height: 165px;
    width: 95px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 50;
    img{
        width: 100%;
        height: auto;
    }
}


.view-all {
    background-color: #4a4a4a;
    color: white;
    border: none;
    padding: 0.7em 2em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
}

.ver-todo{
    color: white;
}

.view-all:hover {
    background-color: #333;
}

a {
    text-decoration: none;
    color: #000;
}

footer {
    background-color: rgb(139, 221, 180);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}